.form_error {
  color: rgba(255, 0, 0, 0.822);
}
.jumbotron {
  background: url(../img/tlo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.jumbotron h2 {
  color: #ffffff;
}
.jumbotron p {
  color: #ffffff;
}
.jumbotron a {
  margin-top: 5%;
  margin-bottom: 0%;
}
.why {
  padding-top: 5%;
  padding-bottom: 10%;
}
.why h3 {
  margin-top: 0;
  margin-bottom: 5%;
}
.why h5 {
  margin-top: 5%;
  margin-bottom: 7%;
}
.why p {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}
.info {
  background-color: #1b2a4e;
  padding-top: 5%;
  padding-bottom: 10%;
}
.info h3 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 5%;
}
.info h5 {
  color: #cccccc;
}
.info p {
  color: #869ab8;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}
footer {
  padding-top: 2%;
  padding-bottom: 1%;
}
footer p {
  font-size: 16px;
}
footer i {
  padding-left: 3%;
  padding-right: 3%;
}
footer .link {
  font-weight: 600;
  color: #55595c;
}
footer .link:hover {
  color: #869ab8;
  text-decoration: none;
}
.add {
  margin-top: 5%;
  margin-bottom: 5%;
}
.add h3 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.find {
  margin-top: 5%;
  margin-bottom: 5%;
}
.find h3 {
  margin-top: 0%;
  margin-bottom: 5%;
}
.single {
  margin-top: 5%;
  margin-bottom: 5%;
}
.single .direction {
  margin-top: 2%;
  margin-bottom: 5%;
}
.login {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login h3 {
  margin-top: 0%;
  margin-bottom: 5%;
}
.panel {
  margin-top: 5%;
  margin-bottom: 5%;
}
