.last
{
    margin-bottom: 5%;
}
h2,h3 
{
    margin-bottom: 5%;
    margin-top: 5%;
}

form 
{
    margin-bottom: 5%;
}

.back .btn-info {
    margin-top: 20%;
}

.form_error p 
{
    color: red;
}

.title
{
    margin-top: 5%;
    margin-bottom: 8%;
}

.info
{
    background-color: #1b2a4e ;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.info h5 
{
    color: #ffffff;
}

.info p
{
    color: #869ab8;
}

